
services:
  backend:
    build: ./todo-api
    container_name: todo-api
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - DB_URL=postgres://postgres:password@db:5432/mydb
      - DB_PORT=5432
      - DB_USERNAME=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=sandbox_db
    networks:
      - app-network

  frontend:
    build: ./todo-ui
    container_name: todo-ui
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - app-network

  db:
    image: postgres:15
    container_name: db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sandbox_db
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - app-network

networks:
  app-network:

volumes:
  db-data:
